* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans CJK TC", "Microsoft JhengHei", sans-serif;
}

h1 {
  color: whitesmoke;
}

h3 {
  color: #2b2b2b;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 0.2rem;
  padding: 0.4rem 0rem;
}

p {
  color: #2b2b2b;
  padding: 0.4rem 0rem;
}

body {
  background-color: #2b2b2b;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  opacity: 0.5;
  padding: 0.8rem 1.5rem;
}

header .left img {
  height: 50px;
  width: auto;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  padding: 0.8rem 1.2rem;
  margin: 0.5rem;
}

nav ul li a {
  text-decoration: none;
  color: #2b2b2b;
  font-size: 1.25rem;
  transition: all 1s ease;
}

nav ul li a:hover {
  font-weight: 900;
  transform: scale(1.02);
}

.active {
  font-weight: 900;
}

.QA {
  margin: 2.5rem;
  padding: 2rem;
  background-color: rgba(245, 245, 245, 0.4);
  border: 1px solid rgba(245, 245, 245, 0.5);
  border-radius: 10px;
}

.about {
  display: flex;
  flex-wrap: wrap;
}

main div.info {
  flex: 1 1 250px;
  margin: 2.5rem;
  padding: 2rem;
  background-color: rgba(245, 245, 245, 0.4);
  border: 1px solid rgba(245, 245, 245, 0.5);
  border-radius: 10px;
}

main .info img {
  width: 100%;
  padding: 10px;
}

.info ul {
  margin-left: 1rem;
}

.info ul li {
  color: #2b2b2b;
  font-weight: 900;
  padding: 0.1rem 0rem;
}

main div.work {
  flex: 5 1 500px;
  padding: 2rem;
}

.project {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 1.5rem;
}

.project-card {
  flex: 1 1 400px;
}

.project-card a img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
  display: block;
}

.project-card h4 {
  margin-top: 1rem;
  color: rgba(245, 245, 245, 0.6);
  transition: transform 1s ease;
}

.project-card:hover img {
  transform: scale(1.02);
}

.project-card:hover h4 {
  color: whitesmoke;
}

@media (max-width: 500px) {
  header,
  header nav ul {
    flex-direction: column;
    align-items: center;
  }
}
